* {
    box-sizing: border-box;
}
body {
    background-color: beige;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    max-width: 80%;
}
.card img {
   
}
.card-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
h1 {
    font-size: 2em;
}
.price {
    display: flex;
    margin: auto;
}
.price p {
    padding: 0 10px;
}
.strikethrough {
    text-decoration: line-through;
}
form {
    margin: auto;
    padding-bottom: 20px;
}
button {
    padding: 10px 40px;
}
button:hover {
    border: 3px black solid;
    border-radius: 3px;
}
button:active {
    background-color: red;
}















/* ----------Footer Stuffs--------- */

.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
.attribution a:hover {
    color: purple;
}